#versusBox {
    display: grid;
    width: 20%;
    grid-template-rows: 1fr 1fr 1fr;
    height: 420px;
    align-items: center;
    justify-items: center;
    z-index: 1;
}
#versusIcon {
    width: 60%;
    min-width: 100px;
    margin: 0;
}

#nextRoundButton {
    margin-bottom: 0;
}