@font-face {
  font-family: titleFont;
  src: local("titleFont"),
    url(../../../../fonts/upheavtt.ttf) format("truetype");
}

@font-face {
  font-family: bodyFont;
  src: local("bodyFont"),
    url(../../../../fonts/Russo_One.ttf) format("truetype");
}

.genericText {
  font-family: bodyFont;
  font-size: 1.5em;
  color: #e94e1b;
  margin: 5px 0;
}

.dynamicText {
  font-family: bodyFont;
  font-size: 1.3em;
  color: #e6332a;
  margin: 5px 0;
}

#ToppingTwoOuterBox {
  margin-right: 10%;
  width: 30%;
  max-width: 290px;
  height: 400px;
  border-radius: 25px 0;
  background-color: #fbc369;
  box-shadow: -12px 8px #a81368;
  padding: 10px;
  border: 10px #fbc369 solid;
}

#ToppingTwoOuterBox:hover {
  border: 10px #e94e1b solid;
}

#ToppingTwoOuterBox:active {
  background-color: #e3b262;
  box-shadow: none;
  border: 10px #cc4518 solid;
}

.cardImg {
  height: 55%;
}

#centralCard {
  display: flex;
  height: 55%;
  background-image: url("../../../../Images/circle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

@keyframes percentWinColour {
  0% {
    color: #e7257b;
  }
  25% {
    color: #a81368;
  }
  50% {
    color: #6b0c47;
  }
  75% {
    color: #a81368;
  }
  100% {
    color: #e7257b;
  }
}

.percentageWin {
  font-family: titleFont;
  font-size: 1.8rem;
  animation: infinite;
  animation-duration: 2s;
  animation-name: percentWinColour;
}

@media screen and (max-width: 500px) {
  .percentageWin {
    font-size: 1.4rem;
  }
}
