
@font-face {
    font-family:bodyFont;
    src: local('bodyFont'), url(../../../../../fonts/Russo_One.ttf) format('truetype');
}

p {
    font-family: bodyFont;
    font-size: 1.5em;
    color: #E94E1B;
}